<nav>
  <% if logged_in? %>
    <p>
      <strong>Logged in as <%= current_user.name.upcase %></strong>
      <%= link_to 'Logout', logout_path, method: :delete %>
    </p>
  <% else %>
    <%= link_to 'Login', login_path %> | 
    <%= link_to 'Sign Up', signup_path %>
  <% end %>
</nav>